*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

.wrapp{
    max-width: 1280px;
    height: 60px;
    margin: auto;
}

a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header start */
.header{
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header_nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_card {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header_menu {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header_menu img{
    width: 20px;
    height: 20px;
}
.header_menu a{
    font-size: 15px;
}
.header_btn {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
/* header end */

.main {
    background-color: #00353b;
}
/* section 1  start*/

.section {
    padding: 80px 0px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.conten_info {
    width: 100%;
}

.content_h1 {
    color: white;
    font-size: 56px;
    margin-bottom: 30px; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;  
    line-height: 50px;  /* интервал между строчками */
    
}

.content_text {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.content_button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
}
.content_btn1 {
    background-color: #22a45a;
    border: none;
    border-radius: 10px;
    padding: 13px 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
#content_btn2 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    cursor: pointer;
}

#content_btn2 p{
    color: white;
    font-size: 16px;
}

#content_btn2 img{
    width: 25px;
    height: 25px;
}

#content_videos{
    width: 600px;
    height: 640px;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 16px;
}
.reviews_imgs {
    display: flex;
    align-items: center;
}

.icon-star-full{
    font-size: 26px;
    color: #e0b420;
}

.reviews_ratinrg_rat{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.reviews_rating p{
    font-size: 16px;
    color: white;
    font-weight: 200;
    text-align: center;
}

.reviews_img{
    width: 58px;
    height: 58px;
    border: solid 2px white;
}

.reviews_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_video{
    position: relative;
}

.content_video-bg{
    position: absolute;
    bottom: 100px;
    left: -100px;
}

/* section 1 end */
.main_title{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 300px;
}

/* section 2 start */

.about-bg {
    background-color: white;
}

.about {
    padding: 54px 256px;
    background-color: #fcd8ca;
    border-radius: 10px;
    text-align: center;
    transform: translateY(-50%);
}

.about_us {
    display: inline-block;
    font-size: 14px;
    color: #1f2937;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 11px;
}
.about_h2 {
    font-size: 48px;
    color: #1f2937;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 29px;
}
.about_descr {
    color: #1f2937;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}
.about_link {
    display: inline-block;
    color: white;
    background-color: #282d36;
    padding: 13px 25px ;
    border-radius: 8px;
}

/* section 2 end */


/* section 3 start */

.premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.premium_bg {
    background-image: url(/img/bg1.png);
    height: 592px;
    width: 576px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
}
.premium_content {
    max-width: 576px;
}
.premium_text {
    color: #1f2937;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    line-height: 60px;
    margin-bottom: 30px;
}
.premium_p {
    color: #1f2937;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}
.premium_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.premium_link {
    display: inline-block;
    padding: 15px 15px;
    background-color: rgb(44, 41, 41);
    border-radius: 10px;
}

.premium_btn {
    display: flex;
    color: #1f2937;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    background-color: transparent;
}
.premium_span1 {
    font-size: 18px;
}
.premium_span2 {
    font-size: 20px;
    font-weight: 700;
}

.premium_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
    flex-direction: row-reverse;
}
.premium_bg_2 {
    background-image: url(/img/bg2.png);
    height: 592px;
    width: 576px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
}
.premium_content_2 {
    max-width: 576px;
}
.premium_text_2 {
    color: #1f2937;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    line-height: 60px;
    margin-bottom: 30px;
}
.premium_p_2 {
    color: #1f2937;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}
.premium_buttons_2 {
    display: flex;
    
    align-items: center;
    gap: 20px;
}
.premium_link_2 {
    display: inline-block;
    padding: 15px 15px;
    background-color: rgb(44, 41, 41);
    border-radius: 10px;
}
.premium_btn_2 {
    color: #1f2937;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    background-color: transparent;
}
.premium_span1_2 {
    font-size: 18px;
}
.premium_span2_2 {
    font-size: 20px;
    font-weight: 700;
}

/* section 3 end */

/* section 4 start */

.popular_content{
    text-align: center;
}
.popular_content h5{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: #1f2937;
    font-weight: 400;
    margin-bottom: 29px;
}
.popular_link {
    display: inline-block;
    font-size: 14px;
    color: #1f2937;
    background-color: #fcd8ca;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.popular_p {
    font-size: 18px;
    color: #4b5563;
    max-width: 730px;
    margin: 0 auto;
    margin-bottom: 63px;
}

.popular_cards {
    display: flex;
    padding-bottom: 128px;
    column-gap: 23px;
    justify-content: space-between;
    align-items: center;
}
.popular_card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 405px;
    min-height: 500px;
    background-color: #00353b;
    border-radius: 10px;
    padding: 32px 24px;
    overflow: hidden;
}

.popular_links {
    display: inline-block;
    font-size: 14px;
    color: #1f2937;
    background-color: white;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.popular_webflow {
    display: block;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 15px;
}
.popular_money {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 150;
}
.popular_btn {
    width: 142px;
    border: none;
    padding: 9px 21px;
    color: white;
    font-size: 14px;
    background-color: #22a45a;
    border-radius: 5px;
    cursor: pointer;
}
.popular_img{
    position: absolute;
    bottom: -30px;
    right: -85px;
    width: 315px;
    height: 315px;
}

.popular_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
/* section 4 end */

/* section 5 start */
.join {
    padding-bottom: 128px;
}
.join_content {
    display: flex;
    background-color: #fcd8ca;
    padding: 64px;
    border-radius: 20px;
    margin-bottom: 80px;
}
.join_info {
    display: inline-block;
    justify-content: space-between;
}
.join_link {
    display: inline-block;
    color: #1f2937;
    padding: 5px 10px;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.join_h {
    font-family: "Poppins", sans-serif;
    color: #1f2937;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    margin-bottom: 28px;
}
.join_p {
    font-size: 18px;
    line-height: 30px;
    color: #374151;
    margin-bottom: 39px;
}
.join_btn {
    border: none;
    padding: 13px 25px;
    color: white;
    border-radius: 10px;
    background-color:rgb(44, 41, 41);
    cursor: pointer;
    font-size: 15px;
}
.join_img img{
    width: 640px;
    min-height: 440px;
    border-radius: 20px;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.learn_card {
    max-width: 378px;
}
.learn_img {
    position: relative;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #22a45a;
    border-radius: 50%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.learn_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.learn_h {
    text-align: center;
    color: #1f2937;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 24px;

}
.learn_p {
    text-align: center;
    font-size: 16px;
    color: #4b5563;
}

/* section 5 end */

/* section 6 start */

.grow {
    padding-bottom: 356px;
}
.grow_content {
    text-align: center;
    margin-bottom: 80px;
}
.grow_a {
    display: inline-block;
    background-color: #fcd8ca;
    font-size: 14px;
    color: #1f2937;
    border-radius: 5px;
    padding: 4px 8px;
    margin-bottom: 11px;
}
.grow_h {
    max-width: 691px;
    line-height: 57px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    color: #1f2937;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 28px;
}
.grow_p {
    color: #4b5563;
    font-size: 18px;
    max-width: 730px;
    margin: 0 auto;
}

.grow_wrapper {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 128px;
}
.grow_wrapp_left {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}
.grow_wrapp_card_one{
    margin-bottom: 50px;
}
.grow_wrapp_card_one img{
    margin-bottom: 20px;
}
.grow_wrapp_h {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color:#1f2937;
    margin-bottom: 20px;
    font-weight: 400;
}
.grow_wrapp_p {
    color: #4b4b4b;
    font-size: 16px;
}
.grow_wrapp_card_two img{
    margin-bottom: 20px;
}
.grow_wrapp_center img{
    width: 504px;
    height: 600px;
    border-radius: 20px;
}
.grow_wrapp_right {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

/* section 6 end */

/* section 7 start */
.reviews_test{
    background-color: #fcd8ca;
    padding: 50px 0px;
    transform: translateY(-50%);
    border-radius: 20px;
}

.reviews_test_content {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
.reviews_test_a {
    display: inline-block;
    background-color: white;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
}
.reviews_test_h {
    color: #1f2937;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 25px;
}
.reviews_test_p {
    color: #4b4b4b;
    font-size: 16px;
    margin-bottom: 45px;
}

.reviews_test_cards {
    display: flex;
    align-items: center;
    gap: 32px;
    overflow-x: auto;;
    /* padding: 20px 0; */
}

.reviews_test_cards::-webkit-scrollbar {
    width: 5px;
}

.reviews_test_cards::-webkit-scrollbar-track {
    background-color: #fcd8ca;
}
.reviews_test_cards::-webkit-scrollbar-thumb {
    background-color:#00353b;
    border-radius: 10px;
}

.reviews_test_card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    min-width: 400px;
    margin-bottom: 10px;

}

.reviews_icon-star-full{
    color: black;
    font-size: 25px;
}
.reviews_test_rat {
    margin-bottom: 25px;
}
.reviews_test_person{
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviews_test_person_img{
    width: 48px;
    height: 48px;
}
.reviews_test_person_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviews_test_rat_p {
    color: #4b4b4b;
    font-size: 16px;
    margin-bottom: 45px;
}
.reviews_test_rat_h5 {
    color: #1f2937;
    font-size: 16px;
}
.reviews_test_rat_p2 {
    color: #4b4b4b;
    font-size: 16px;
}

/* section 7 end */

/* section 8 start */
.start {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #00353b;
    padding-bottom: 256px;
}
.start_h {
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
}
.start_p {
    color: white;
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 15px;
}
.start_btn1 {
    display: inline-block;
    padding: 13px 25px;
    font-size: 16px;
    background-color: #22a45a;
    border-radius: 10px;
}
.start_btn2 {
    display: inline-block;
    padding: 13px 25px;
    font-size: 16px;
    color: #000000;
    background-color: white;
    border-radius: 10px;
}

.start_a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
/* section 8 end */

/* section 9 start */
.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 128px;
}
.join_footer {
    max-width: 380px;
}
.join_footer_h {
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.form_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 18px;
}
.form_btn input{
    border: none;
    padding: 13px 25px;
    border-radius: 10px;
}
.form_btn_a {
    padding: 13px 25px;
    background-color: #22a45a;
    border-radius: 10px;
}
.join_footer_p {
    color: white;
    font-size: 14px;
}
.footer_content{
    display: flex;
    gap: 120px;
}
.pages_p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}
.cms_p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}
.account_p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}
.utility_p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}
.pages {
    display: flex;
    flex-direction: column;
}
.pages_a {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
.cms {
    display: flex;
    flex-direction: column;
}
.cms_a {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
.account {
    display: flex;
    flex-direction: column;
}
.account_a {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
.utility {
    display: flex;
    flex-direction: column;
}
.utilitu_a {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
}
/* section 9 end */

/* section 10 start */
.social {
    text-align: center;
    padding-bottom: 30px;
}
.social_tg {
    font-size: 16px;
    font-weight: 300;
}
/* section 10 end */

@media (max-width: 1300px) {
    .wrapp{
        padding: 0 10px;
    }
    .container{
        padding: 0 20px;
    }
    .popular_cards{
        display: flex;
        flex-direction: column;
    }
    .popular_card{
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .conten_info{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content_h1{
        font-size: 50px;
    }
    .about{
        padding: 30px 24px;
    }
    .premium{
        display: flex;
        flex-direction: column;
    }
    .premium_content{
        text-align: center;
    }
    .premium_p{
        text-align: center;
    }
    .premium_buttons{
        justify-content: center;
    }
    
    .premium_2{
        display: flex;
        flex-direction: column;
    }
    .premium_content_2{
        text-align: center;
    }
    .premium_p_2{
        text-align: center;
    }
    .premium_buttons_2{
        justify-content: center;
    }
    .join_img img{
        width: 540px;
        height: 340px;
    }
    .join_h{
        font-size: 30px;
        line-height: 38px;
    }
    .join_p{
        font-size: 14px;
        line-height: 22px;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .join_footer{
        margin-bottom: 50px;
    }
}

@media (max-width:1000px) {
    .join_img img{
        width: 400px;
        min-height: 200px;
    }
    .grow_wrapper{
        flex-direction: column;
    }
    .grow_content{
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    header{
        padding: 10px 0;
    }
    .content_text{
        font-size: 16px;
    }
    .wrapp{
        margin: 10px 0;
        flex-direction: column;
    }
    .header_nav{
        margin-bottom: 10px;
    }
    .about_h2{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about_descr{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .about_link a{
        font-size: 12px;
    }
    .join_content{
        padding: 26px;
    }
    .grow_h{
        font-size: 30px;
        line-height: 40px;
    }
    .grow_p{
        font-size: 14px;
    }
    .grow_wrapp_h{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .grow_wrapp_p{
        font-size: 14px;
    }
    .grow_wrapp_card_one{
        margin-bottom: 30px;
    }
    .grow_wrapp_center img{
        width: 100%;
        height: 500px;
    }
    .footer_content{
        gap: 30px;
    }
    .pages_p, .cms_p, .account_p, .utility_p{
        margin-bottom: 15px;
    }
    .pages_a, .cms_a, .account_a, .utilitu_a{
        margin-bottom: 10px;
    }
}

@media (max-width:630px) {
    .section{
        padding: 30px 0;
    }
    .content_h1{
        font-size: 30px;
    }
    .reviews{
        display: flex;
        flex-direction: column;
    }
    #content_videos{
        width: 100%;
    }
    .content_video-bg{
        display: none;
    }
    .main_title{
        margin-bottom: 200px;
    }
    .premium_content{
        text-align: center;
    }
    .premium_bg{
        height: 300px;
        width: 100%;
        background-position: left;
    }
    .premium_text{
        font-size: 30px;
        line-height: 35px;
    }
    .premium_p{
        font-size: 14px;
    }
    .premium_content_2{
        text-align: center;
    }
    .premium_bg_2{
        height: 300px;
        width: 100%;
        background-position: left;
    }
    .premium_text_2{
        font-size: 30px;
        line-height: 35px;
    }
    .premium_p_2{
        font-size: 14px;
    }
    .popular_content h5{
        font-size: 30px;
    }
    .popular_p{
        font-size: 14px;
    }
    .join_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .join_info{
        margin-bottom: 10px;
    }
    .learn_img{
        margin-bottom: 10px;
    }
    .learn_h{
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 20px;
    }
    .learn_p{
        font-size: 14px;
    }
    .learn{
        display: flex;
        flex-direction: column;
    }
    .learn_card{
        margin-bottom: 20px;
    }
    .start{
        padding-bottom: 128px;
    }
    .start_h{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .start_p{
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    #content_videos{
        height: auto;
    }
    .main_title{
        font-size: 14px;
    }
    .about{
        padding: 10px 12px;
    }
    .about_us{
        margin-bottom: auto;
    }
    .about_h2{
        font-size: 25px;
    }
    .about_descr{
        font-size: 13px;
    }
    .about_link{
        padding: 10px 18px;
    }
    .about_link a{
        font-size: 13px;
    }
    .popular_card{
        width: 100%;
        min-height: 400px;
    }
    .popular_btn{
        z-index: 1;
    }
    .join_img img{
        width: 100%;
        min-height: 200px;
    }
    .grow_wrapper{
        padding-bottom: 0px;
    }
    .grow_wrapp_center img{
        height: 350px;
    }
    .reviews_test{
        padding: 22px 0px;
    }
    .reviews_test_h{
        font-size: 30px;
        margin-bottom: 14px;
    }
    .reviews_test_p{
        font-size: 14px;
        margin-bottom: 25px;
    }
    .reviews_test_card{
        padding: 16px;
        min-width: 360px;
    }
    .reviews_test_rat{
        margin-bottom: 10px;
    }
    .reviews_icon-star-full{
        font-size: 20px;
    }
    .reviews_test_rat_p{
        font-size: 14px;
        margin-bottom: 28px;
    }
    .reviews_test_person_img{
        width: 35px;
        height: 35px;
    }
    .reviews_test_rat_h5{
        font-size: 15px;
    }
    .reviews_test_rat_p2{
        font-size: 14px;
    }
}

@media (max-width:360px) {
    .popular_webflow{
        font-size: 20px;
    }
    .popular_money{
        font-size: 14px;
    }
    .popular_img{
        width: 295px;
        height: 295px;
    }
}
