*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}
.award {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 48px;
  }
.award__p {
    font-size: 15px;
    color: #4b5563;
  }
.award__images {
    cursor: pointer;
  }
.award__img {
    position: absolute;
    right: 272px;
    top: 14px;
}

.wrapp{
    max-width: 1280px;
    height: 72px;
    margin: auto;
}

a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header start */
.header{
    background-color: #00353b;
}

.header_nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_card {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header_menu {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header_menu img{
    width: 25px;
    height: 25px;
}
.header_menu a{
    font-size: 17px;
}
.header_btn {
    padding: 13px 25px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
/* header end */

.main {
    background-color: #00353b;
}
/* section 1  start*/

.section {
    padding: 80px 0px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.conten_info {
    width: 100%;
}

.content_h1 {
    color: white;
    font-size: 56px;
    margin-bottom: 30px; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;  
    line-height: 50px;  /* интервал между строчками */
    
}

.content_text {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.content_button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
}
.content_btn1 {
    background-color: #22a45a;
    border: none;
    border-radius: 10px;
    padding: 13px 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.content_btn2 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    cursor: pointer;
}

.content_btn2 p{
    color: white;
    font-size: 16px;
}

.content_btn2 img{
    width: 25px;
    height: 25px;
}

/* .content_video {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 0, 0);
} */

.content_videos{
    width: 600px;
    height: 640px;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 16px;
}
.reviews_imgs {
    display: flex;
    align-items: center;
}

.icon-star-full{
    font-size: 26px;
    color: #e0b420;
}

.reviews_ratinrg_rat{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.reviews_rating p{
    font-size: 16px;
    color: white;
    font-weight: 200;
    text-align: center;
}

.reviews_img{
    width: 58px;
    height: 58px;
    border: solid 2px white;
}

.reviews_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_video{
    position: relative;
}

.content_video-bg{
    position: absolute;
    bottom: 100px;
    left: -100px;
}

/* section 1 end */
.main_title{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 100px;
}
/* .main_p{
    background-color: #00353b;
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
} */


/* section 2 start */

.about-bg {
    background-color: white;
}

.about {
    padding: 54px 256px;
    background-color: #fcd8ca;
    border-radius: 20px;
    text-align: center;
}

.about_us {
    display: inline-block;
    font-size: 14px;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 11px;
}
.about_h2 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 29px;
}
.about_descr {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}
.about_link {
    display: inline-block;
    color: white;
    background-color: #282d36;
    padding: 13px 25px ;
    border-radius: 8px;
}

/* section 2 end */
